# Node modules
node_modules/
*.node

# Environment files
.env
**/.env
.env.*
**/.env.*
!.env.example
!**/.env.example

# VS Code and Mac files
.vscode/
.DS_Store

# Build output
dist/
build/
.next/
**/.next/